@model SysAid.Vulnerabilidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vulnerabilidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoActivo1.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoActivo1.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVulnerabilidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
